<a class="cart" id="cart"  href="{{ path('cart') }}">
    <img src="{{ asset('img/cart.gif') }}">
    <span>&nbsp;$0.00 &nbsp;</span>
</a>
<div class="clear"></div>
<div class="cart-list">
<i class="cart-block-row"></i>
<div class="cart-spinner">
 <img src="{{ asset('img/spinner.gif')}}">
</div>
</div>



