<a class="cart" id="cart" href="{{ path('cart') }}">
    <div class="cart-top-spinner">
    	<i class="fa fa-spinner fa-pulse"></i>
        <!-- <img src="{{ asset('img/spinner.gif') }}"> -->
    </div>
</a>
<div class="clear"></div>
<div class="cart-list">
    <i class="cart-block-row"></i>

    <div class="cart-spinner">
    	<i class="fa fa-spinner fa-pulse"></i>
        <!-- <img src="{{ asset('img/spinner.gif') }}"> -->
    </div>
</div>

   
