{% extends 'layout_main.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/contact.css') }}" type="text/css">
{% endblock %}

{% block body %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-75522818-1', 'auto');
  ga('send', 'pageview');
</script>

<div class="row no-border" id="contact-page">
    <div class="col-xs-3 siderbar">
        {{ render(controller('AppBundle:Widget/Menu:index')) }}
        {{ render(controller('AppBundle:Widget/Default:brandList')) }}
        {{ render(controller('AppBundle:Widget/Default:postFee')) }} 
    </div>
    <div class="col-xs-9 page-right">
        <div class="page-content">
            <div class="contact-part">  
                <table width="100%">
                    <tr width="100%">
                        <td width="30%"><h3><b>联系我们</b></h3>
                        <td width="70%" align="right">
                            <img src="img/contactus.png" height="90px">
                        </td>     
                    </tr>
                </table>		
                     丰盛湾是一家专注纽澳特产品、护肤品、保健品的电子商务平台。您所购买的产品都是在新西兰本地打包，直接邮寄至您家的。我们希望以实惠的价格，优质的服务，一站式配送方式，让您方便的享受新西兰澳洲纯天然无毒害的高品质产品。<br><br>
                <div class="contact-info">
                    <div><i class="fa fa-phone"></i>电话: (+64) 09 281 9384 </div>
                    <div><i class="fa fa-home"></i>地址: Unit4, 9 Orbit Dr, Rosedale, Auckland, New Zealand</div>
                    <br>
                    <div id="location-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10754.06955014146!2d174.72324756017866!3d-36.74167084974075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d0d3bcd5d971c9f%3A0x35f79df3beba01cc!2s9+Orbit+Dr%2C+Rosedale%2C+Auckland+0632!5e0!3m2!1sen!2snz!4v1454839173531" width="785" height="270" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <hr>
             <div class="page-sub-title"><strong>给我们留言</strong> <input type="submit" style="margin-right: 35px" value="提交" class="pull-right" id="email-send"/></div>
            <div class="contact-part">
                <div class="form">
                    <div>
                        <label>如何称呼您</label>
                        <input type="text" id="email-name">
                    </div>
                    <div>
                        <label>您的邮件地址</label>
                        <input type="text" id="email-to">
                    </div>
                    <div>
                        <label>联系原因：</label>
                        <select type="text" id="email-subject" width="100%">
                            <option value="想要了解购物流程。">想要咨询产品信息。</option>
                            <option value="想要咨询商品信息。">想要咨询产品信息。</option>
                            <option value="想要了解近期优惠。">想要了解近期优惠。</option>
                            <option value="对于服务不满意，想要投诉。">对于服务不满意，我想要投诉。</option>
                            <option value="想要组团一起挣钱养家。">想要组团一起挣钱养家，不知如何开始。</option>
                            <option value="只是想你们了，思念并不需要理由。">只是想你们了，思念没有理由。</option>
                        </select>
                    </div>
                    <div>
                        <label style="margin-top: 60px">留言正文：</label>
                        <textarea id="email-text"></textarea>
                    </div>
                </div> 
            </div>
            <hr>
        </div>	
    </div>
</div>

{% endblock %}