{% extends 'layout_main.html.twig' %}

 {% block title %}隐私条款{% endblock %}

{% block stylesheets %}  
<link rel="stylesheet" href="{{ asset('css/contact.css') }}" type="text/css">
<link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block body %}
<div oncopy="return false" oncut="return false" onpaste="return false">
        <div class="row no-border" id="contact-page">
            <img src="{{ asset('img/privacy-policy.jpg') }}" width="100%">
            <div class="contact-part" style="padding-top: 2spx">   
                        <hr>                 
                        <div align="center">
                        <a href="/privacy_en" class="pull-right" data-toggle-title="tooltip" title="User Privacy" data-placement="right" style="color: #95B56F"><i class="fa fa-language" aria-hidden="true"></i> English Version</a>
                        <script type="text/javascript">
                            $(document).ready(function(){
                                    $('[data-toggle-title="tooltip"]').tooltip();   
                            });    
                        </script>   
                            <h3><b>丰盛湾在线购物 用户隐私条款</b></h3>
                            <hr>
                        </div>                   
                        <p>    
                            <h3>隐私保护</h3>
                        </p>
                        <p>
                            保护您个人数据的安全与隐私对于我们来说十分重要；因此，在经营业务的同时，我们注意遵守数据隐私保护与数据安全的相关法律。通过下面列出的条款，我们希望能够帮助您了解我们需要收集哪些数据、怎样使用和保护这些数据、以及和哪些人共享这些数据。您亦可随时查看我们的<a href="/terms">服务条款</a>来了解更多法律权益。
                        </p>
                        <p>    
                            <h3>个人数据</h3>
                        </p>
                        <p>
                            通过的网站，我们不会收集您的任何个人信息（如您的姓名、地址、电话号码或邮件地址），除非您自愿提供（在注册时）。此时我们会征得您的同意，或者保护个人数据的相关法律法规允许如此。
                        </p>
                        <p>    
                            <h3>使用目的</h3>
                        </p>
                        <p>
                            您提供我们的个人信息，我们通常用来回复您的询问，处理您的订单或为您提供相关信息或方案。我们还会利用这些信息来支持与您的客户关系：(1) 我们储存并处理这些个人数据，以便更好地了解您的业务需求、改进我们的产品和服务；(2) 我们 (或代表我们的第三方机构) 会使用这些个人信息联系您，提供支持您产品需求的产品方案，或进行在线调查，更好地理解我们客户的需求。 (3) 若您拒绝我们使用您的个人数据来支持我们的客户关系（特别是直接营销或市场研究），我们也将尊重您的选择。我们不会将您的个人数据卖给第三方机构。

                        </p>


                        <p><h3>目的限定</h3></p>
                        <p>
                            我们会收集、使用或透露您在网上提供的个人数据，仅限于向您公开的以下原因：(1) 是为了某种附加目的而对这些个人数据的使用，这些附加的目的直接与收集个人数据的原始目的相关; (2) 是法律、政府或司法机关所要求的; (3) 是创立及保护法律声明或辩护所需要的， 
                            是避免欺诈行为或其他非法活动所需要的，如对我们网站系统的故意攻击。
                        </p>
                        <p><h3>通信或使用数据</h3></p>
                        <p>
                            您在使用网络服务访问我们的网站时，您的通信数据（如IP地址）或使用数据（如每次访问的开头、结尾和长度信息，以及您使用的网络服务信息）将自动生成，可能与您的个人数据相关。如有需要时，我们会遵循相关数据隐私保护法规对您的通信或使用数据进行收集、处理和使用。
                        </p>
                        <p><h3>非个人信息的自动收集</h3></p>
                        <p>
                            非个人信息的自动收集当您访问我们网站时，我们可能会自动（如：非注册用户购买商品时）收集一些非个人的数据（如：使用的Internet浏览器和操作系统、将您来自的网站域名、访问数量、平均在线时长、访问的页面）。我们可能会使用这些数据，以监测我们网站的受欢迎度，并且改进它的性能或内容。
                        </p>
                        <p><h3>浏览器信息</h3></p>
                        <p>
                            当您浏览我们的网站时，我们可能会以cookie的形式在您的电脑中储存一些数据，以便在您下一次访问时自动识别出您的电脑。Cookies可在许多方面帮助我们，如：可以帮助我们为您定制一个更迎合您兴趣的网站；可以保存密码，免除您每次输入的麻烦。如您不希望收到cookies，请设置您的Internet浏览器，将所有cookie从电脑硬盘中擦除、拒绝所有cookies，或可以选择在cookies储存之前接受警告。
                        </p>
                        <p><h3>安全</h3></p>
                        <p>
                            为保护您的隐私数据不受偶然或非法的以及未经许可的公开和访问，我们使用了技术与流程上尽可能的优化以保护您的隐私不受侵犯。
                        </p>
                        <p><h3>问题和意见</h3></p>
                        <p>
                            我们允许对您的个人数据正当的察看、更正、修改或删除请求。若您有任何关于我们数据隐私保护条款的问题或意见（如察看及更新您的个人数据），请填写首页右上角的"客户留言"提交给我们。随着Internet的发展，我们的数据隐私保护条款也会随之成熟。我们将会在本页面发布对条款的更新。请定期访问本页面了解更新情况。
                        </p>
                <hr>                
            </div>  
        </div>
    </div>
{% endblock %}