{% extends 'views/User/default/index.html.twig' %}
{% block page_title %}您的订单
	<div class="pull-right order-search"><input type="text" placeholder="搜索单号..."/></div>
{% endblock page_title %}
{% block fos_user_content %}
{% include "views/User/order/show.html.twig" %}
{% endblock fos_user_content %}