{% extends 'layout_user.html.twig' %}

{% block fos_user_content %}

<div class="bg-mask save"></div>
<div id="top-address" class="page-center">
    <div class="title">
        <h4>新建地址/修改地址</h4>
        <i class="fa fa-remove save"></i>
    </div> 

    <div class="content">

{% if address.id %}
	{{ form_start(form, { method: 'POST', action: path('user_address_edit',{ 'id': address.id }) }) }}
{%else%}
	{{ form_start(form, { method: 'POST', action: path('user_address_create') }) }}	
{% endif %}

    {{ form_widget(form) }}
{{ form_end(form) }}   



	</div>
	</div>


{% endblock fos_user_content %}
