
/*Cart Page*/
#cart-page {
	border:0;
	padding:0;
}

#cart-page .cart-content {
    min-height:650px;
    margin-top: 30px;


}

#cart-page .side {
    width:100%;
    height:auto;
    padding:0;
    border: 1px solid rgba(0,0,0,0.1);
    margin-bottom:20px;
}

#cart-page .side-title {
    background:#EE1B23;
    width:100%;
    height:45px;
    line-height:45px;
    padding-left:25px;
    color:#fff;
}


#cart-page .side-content {
    padding:10px;
    margin:0;
}

#cart-page .side-content .delievey-content {
	margin: 10px 0px;
}

#cart-page .cart-content .col-xs-12{
	padding: 0;
}

#cart-page .cart-content .col-xs-12 button {
	margin: 10px 5px;
	padding: 0 10px;
}

#cart-page .cart-content h3 {
	text-align: left;
    margin: 10px;
}

#cart-page .cart-content table img {
	 width:100px;
}

#cart-page .cart-content table td {
	vertical-align: middle;
	text-align: center;
}

#cart-page .cart-content table th {
	border-bottom:1px solid rgba(0,0,0,0.1);
	text-align: center;
}

#cart-page .cart-content .col-xs-6{
	padding-right: 5px;
	margin-top: 20px;
	padding-left: 0;
}

#cart-page .cart-content .col-xs-6:last-child{
	padding-left: 5px;
	padding-right:0;
}


#cart-page .cart-content .side-title{
	background-color: #31394a;

}

#cart-page .cart-content label {
	display: inline-block;
	width: 20%;
}

#cart-page .cart-content .col-xs-6 button:first-child {
	margin-left: 0;
}


#cart-page .cart-content .btn-offer {
	margin: 10px 0px;
}

#cart-page .cart-content .btn-promotion {
	float: right;
}

#cart-page .cart-content .btn-pay {
	width: 100%;
    margin: 0px;
    line-height: 30px;
    font-size: 20px;
    height: 40px;
}

#cart-page .cart-down {
	margin-bottom: 20px;
	padding: 0 15px;
}

