
header .logo img {
    width: 120px;
    height: 140px;

}

.login-left {
    min-height: 400px;
    text-align: center;
}


.login-content {
    padding: 5px 20px 20px 20px;
    position: relative;
    border: 1px solid #f2f2f2;
}


.login-content > div:last-child {
    text-align: left;
    margin: 0px auto;
    max-width: 300px;
    padding: 0 20px;
}

.login-content .controls {
    margin: 20px 0px;
}

.login-content .controls > input {
    padding: 4px 0px;
    width: 100%;
    border: 1px solid #fff;
    border-bottom-color: #ecf0f1;
}

.login-content .controls > input:hover, 
.login-content .controls > input:focus {
    border-bottom-color: #EF5505;
    cursor: pointer;
    outline: none;
}

.login-content button{
    margin-right: 5px;
}


.login-content h6 {
    display: inline-block;
    text-align: left;
}

.login-content .social-network {
    display: inline-block;
    width: 100%;

}

.login-content .social-network span {
    font-size: 20px;
    width: 30px;
    height: 30px;
    padding: 10px;
    margin: 5px;
}

footer {
     min-height: 60px;
    padding-top: 10px;
    margin-top: 30px;
}

footer .col-xs-2 {
    min-height: 20px;
    line-height: 0px;
}

.copyright {
        min-height: 30px;
}