 html,
 body {
    width: 100%;
    height: auto;
    font-family: Merriweather,'Helvetica Neue',Arial,sans-serif;
    background: #fff;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

a {
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    text-decoration:none;
    color: #000;
}

a:hover,
a:focus {
    color: #ee1c24;
    text-decoration:none !important;
    cursor: pointer;
    background-color: transparent !important;
    outline: none;
}

ul,li{
    list-style:none;
}

button {
    color: #ffffff;
    background-color: #ee1c24;
    height: 30px;
    margin: 0;
    padding: 0 10px;
    vertical-align: middle;
    min-width: 80px;
    border-radius:0px;
    border: 1px solid #ee1c24;
}

button:hover,
button:focus  {
    cursor: pointer;
    background-color: #ee1c24;
    border: 1px solid #ee1c24;
}

input {
    padding: 8px 10px;
    border: 1px solid #ccc;
    min-width: 30px;
    font-size: 12px;
    margin-right: 5px;
}

input:hover,
input:focus {
    cursor: pointer;
    outline: none;
}

input.qty {
    width: 40px;
}

.dashed {
        padding-right: 10px;
        border-right: 1px dashed #000;
        margin-right: 7px;
        vertical-align: middle;
}

.no-padding {
       padding:0;
}


.container-non-responsive {
       margin-left: auto;
       margin-right: auto;
       width: 1170px;
}

.row {
/*    border-bottom-style:solid;
    border-left-style:solid;
    border-right-style:solid;
    border-width:1px;
    border-color: rgba(0,0,0,0.1);*/
    margin:0;
}


.no-border {
    border:0;
}

.clear{
    clear: both;
}

/* top navbar */
.navbar {
    background-color: #f2f2f2;
    min-height: 20px !important;
    height: 30px;
    margin: 0;
    border-bottom: 1px solid #ccc;
    min-width: 1170px;
}

.navbar a, 
.navbar h6{
    display: inline-block;
    padding: 0px 10px;
    font-weight: normal;
    color: #6c6c6c;
    margin: 0px;
    line-height: 30px;
}

.navbar .a-login,
.navbar .a-register {
    padding-right: 3px;
    color: #506eaa;
}


.navbar .user-list,
.navbar .history-list,
.navbar .more-list {
    display: none;
    min-width: 70px;
    height: auto;
    background-color: #fff;
    border-radius: 0px;
    position: absolute;
    z-index: 1;
    border: 1px solid #e5e5e5;
    box-shadow: 0 0 0px rgba(0,0,0,.2);
    border-top: none;
}

.navbar .user,
.navbar .history,
.navbar .more {
    display: inline-block;
    z-index: 5;
    border: 1px solid #f2f2f2;
    border-bottom: none;
    border-top: none;
}


.navbar .user:hover .user-list,
.navbar .history:hover .history-list,
.navbar .more:hover .more-list {
    display: block;
    top:30px;
}

.navbar .user:hover,
.navbar .history:hover,
.navbar .more:hover {
    background-color: #fff;
    border-color: #e5e5e5;   
}

.navbar .history .item {
    border-bottom: 1px dashed #ccc;
    padding: 0px 10px;
    min-height: 60px;
}

.navbar .history .item:last-child {
    border-bottom:none;
}

.navbar .history .item div {
    display: inline-block;
    vertical-align: top;
    margin: 5px 0px;
}

.navbar .history .cart-image {
    max-width: 60px;
    max-height: 60px;
}

.navbar .history .cart-image img {
    width: 100%;
}

.navbar .history .nav-cart-content{
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.navbar .history .item span {
    position: relative;
    display: inline-block;
    font-size:12px;
    margin: 5px 0px;
    line-height: 0px;
}

.navbar .history .item h5 {
    margin: 5px 0px;

}

/* navbar */
header {
    min-width: 1170px;
    clear: both;
}

header .container-non-responsive {
	height: 130px;
}


header .logo > img {
    width: 80px;
    height: 100px;
    margin-left: 30px;
    margin-top: 15px;
}



header .search-query {
    padding: 4px 14px;
    border-radius:0px;
    min-width: 450px;
    min-height: 35px;
    border: 3px solid transparent;
    border-image: -webkit-linear-gradient(right, #ee1c24, orange, yellow, green, blue, indigo, violet); /* For Safari 5.1 to 6.0 */
    border-image: -o-linear-gradient(right, #ee1c24, orange, yellow, green, blue, indigo, violet); /* For Opera 11.1 to 12.0 */
    border-image: -moz-linear-gradient(right, #ee1c24, orange, yellow, green, blue, indigo, violet); /* For Fx 3.6 to 15 */
    border-image: linear-gradient(to left, #ee1c24, orange, yellow, green, blue, indigo, violet); /* Standard syntax (must be last) */
    border-image-slice: 1;
    outline: none;
    margin: 0;
}

header .navbar-search {
    margin: 50px 23px 0px 17px;
    outline: none;
}


header button {
    height: 35px;
    vertical-align: top;
    margin-left: -5px;
}

header .search-keys a {
    color: #777;
    font-size: 12px;
}


header .col-xs-9 {
    float: left;
    overflow: hidden;
    height: 30px;
    max-width: 500px;
}

header .col-xs-9 > h6 {
    display: inline-block;
    padding: 0px 6px;
}


header .col-xs-2 {
   min-width: 150px;

}


header .col-xs-2:hover .cart-list {
    display: block;
}

header .col-xs-2:hover .cart span {
    background: #ffffff;
}

.cart{
    margin-top: 50px;
    -webkit-backface-visibility: hidden;
    text-decoration: none;
    display: block;
    width: 143px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #e5e5e5;
    position: relative;
    background: #fff;
    z-index: 0;
    box-shadow: 0 0 2px rgba(0,0,0,.2);
    float: right;
}



.cart-block-row{
    display: block;
    width: 141px;
    height: 5px;
    background: #fff;
    position: absolute;
    top: -5px;
    z-index: 5;
    right: 0;
}

.cart img{
    float: left;
    height: 30px;
    width: 40px;
    overflow: hidden;
    padding: 0 9px;
}

.cart span{
    width: 100px;
    height: 33px;
    line-height: 35px;
    color: #666;
    overflow: hidden;
    float: left;
    padding-left: 6px;
    background: #f8f8f8;
}

.cart-list {
    display: none;
    min-width: 250px;
    height: auto;
    background-color: #fff;
    border-radius: 0px;
    position: absolute;
    z-index: 1;
    right: 15px;
    border: 1px solid #e5e5e5;
    box-shadow: 0 0 2px rgba(0,0,0,.2);
}


.cart-list .item {
    border-bottom: 1px dashed #ccc;
    padding: 0px 10px;
    height: 60px;
    min-height: 50px;
}

.cart-list .item > div {
    display: inline-block;
    vertical-align: top;
    margin: 5px 0px;
}

.cart-list .cart-image {
    max-width: 60px;
    max-height: 60px;
}

.cart-list .cart-image img {
    width: 100%;
}

.cart-list .nav-cart-content{
    width: 160px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cart-list .item span {
    position: relative;
    display: inline-block;
    font-size:12px;
    margin: 5px 0px;
}

.cart-list .item span:last-child {
    position: absolute;
    right: 20px;
}

.cart-list .item h5 {
    margin: 5px 0px;
}

.cart-list .total {
    padding:10px;
    position:relative;
    width: 100%;
}

.cart-list .total span{
    padding: 0px 10px;
}

.cart-list strong{
	color: #d61920;
	margin: 0 2px;
}

.cart-list .see-more {
    width:100%;
    margin: 0;
}


/* Sub Navbar */
#topnav.top-nav {
    background: #31394a;
    height: 45px;
    width: 1170px;
    margin: 0 auto;
}

#topnav .nav-all {
    background:#ee1c24;
    width:255px;
    height:45px; 
    float: left;
    margin: 0 auto;
}

#topnav .nav-all p {
    color:#fff;
    font-size:15px;
    line-height:45px;
    padding-left: 25px;
    font-weight: bold;
}

.nav-right{
    height: 45px;
    display: inline-block;
}

.nav-right a{
    float: left;
    display: inline-block;
    color: #fff;
    font-size: 15px;
    line-height: 45px;
    padding: 0px 25px;
    font-weight: bold;
}

.nav-right a:hover,
.nav-right a:focus{
    color: #999 !important;
}

.nav-right a.active{
    background: #1d212b;
}

/* Left Sider Navbar */
#sidebar {
    width:254px;
    height:auto;
    padding: 0;
}

.siderbar.col-xs-3 {
    padding:0;
    width: 255px;
}


ul.nav {
    margin: 0;
    padding: 0;
    border-radius: 0px;
    width: 100%;
    border: 1px solid rgba(0,0,0,0.1);
}

.nav li:hover {
    background-color: #F5F5F5;
}

.nav li:hover > .dropdown-menu {
    display: block;
}

.nav > li{
    height:68px;
    border-top: 1px dashed #ccc;
}

.nav > li:first-child{
    border-top:none;
}

.nav .nav-item {
    padding: 10px 25px 0px 25px;
    height: 68px;
    width: 100%;
}

.nav .nav-item > a {
    width: 100%;
    font-weight: bold;
}

.nav .nav-item a .fa {
    position: absolute;
    right: 15px;
    opacity: 0.2;
    top: 30px;
}

.nav .nav-item > div {
    overflow: hidden;
}

.nav .nav-item > div a {
    line-height: 38px;
    font-size: 12px;
    margin-top: 5px;
    color: #777;
}

.nav .nav-item > div a:hover {
    color: #ee1c24;
}


.nav .dropdown-menu > div{
    padding: 5px 10px;
    border: 0;
} 

.nav .drop-menu-right {
	background-color: #F5F5F5;
    left: 251px;
    padding: 0px;
    border-radius: 0px;
    top: -3px;
    width: 312px;
}


/* Slider */
.slider-part {
    border-bottom-style:solid;
    border-right-style:solid;
    border-width:1px;
    border-color: rgba(0,0,0,0.1);
    width: 913px;
    height: 614px;
}

#myCarousel { 
    position:relative; 
    margin: 0;
    overflow:hidden;
    border:0;
    width: 913px;
    max-height:410px;
}

#myCarousel img {
    width:100%; 
    max-height:410px;
    border:0;
}


.showpics {
    border:0;
    width:915px;
    padding:0;
    margin-top:0px;
    margin-left:0px;
}

.showpics img{
    width: 290px;
    height: 206px;
    padding: 10px 15px 10px 0px;
}

.showpics .col-xs-4 {
    border-width:1px;
    border-color: rgba(0,0,0,0.1);
    border-left-style:solid;
    text-align: center;
}

.showpics .col-xs-4:first-child {
    border-left:none;
}


.carousel-control {
    border: 0;
    border-radius: 0; 
    top: 50%;
    height:45px;
    width:60px;
    line-height:35px;
    display: none;
    background: none !important;
}

.carousel-control span.fa{
    margin:10px 0;
}

.carousel-control:hover {
    background-color: #fbd1d3; 
    color: #fff;
}


.carousel-control.left {
    left: 8px;
}

.carousel-control.right {
    right: 8px; 
    left: auto;
}
.carousel:hover .carousel-control {
    display: block;
}


/*   Hot Staffs   */
.hotdeal {
    background-color: #fff;
    padding:0;
    margin-top: 20px;
}

.hotdeal .row-up{
    height:80px;
}

.hotdeal .row-up div:first-child {
    padding:0px;
    overflow: hidden;
    height: 60px;
    max-width: none;
}

.hotdeal .row-up div:last-child {
    text-align: right;
    padding: 0px;
    float: right;
    margin: 28px 0px;
}

.hotdeal .row-up a {
    color: #666;
}

.hotdeal h6 {
    line-height: 18px;
    margin: 5px 5px 10px 5px;
    margin-left: 30px;
    font-size: 14px;
}

.hotdeal .row-up h6, .row-up h3 {
    display: inline-block;
    vertical-align: bottom;
}

.hotdeal .row {
    height: 300px;
    border-left-style:solid;
    border-right-style:solid;
    border-width:1px;
    border-color: rgba(0,0,0,0.1);

}

.hotdeal .row a {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.hotdeal .row > div {
    overflow: hidden;
    min-height:300px;
    padding: 0;
    border: 1px solid #E6E6E6;
    max-width: 300px;
    position: relative;
    height: 300px;
    border-right: none;
}


.hotdeal .row > div:first-child{
	border-left:none;
}

.hotdeal .row > div:hover {
    box-shadow: #999 0px 4px 8px;
}


.hotdeal .row > div img {
    width: 250px;
    right: -30px;
    bottom: 10px;
    position: absolute;
}

.pro-text{
    padding: 25px 0 0 15px;
    width: 250px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.pro-title{
    color: #000 !important;
    font-size: 14px;
}

.price{
    color: #ee1c24;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    width: 200px;
    display: block;
}

del{
    font: 14px;
    color: #000;
}
/*page title*/
.page-title h4 {
    font-size:20px;
    color:#d61920;
    padding:20px 20px;
}

.page-title h4,h4 a {
    font-size:20px;
    color:#d61920;
    padding:20px 20px;
}
.page-title h4 a {
    padding:20px 10px 20px 10px;
}
.page-title h4 a:first-child {
    padding:20px 10px 20px 0px;
}
.page-title h4 span {
    padding:20px 10px 20px 10px; 
}

.page-content {
    padding:20px;
}

.number-input {
    position:relative;
    background:#fff;
    height:14px;
    min-width:20px;
    border-radius:0px;
    top:-9px;
    left:0px;
    border:1px solid rgba(0,0,0,0.1);
}

.number-input i {
    font-size:14px;
    top:-1px;
    left:6px;
    position:absolute;
    color: #000;
}

.number-input:last-child {
    top:5px;
    left:-26px;
}

/*   Hot Staffs END */


#gototop {
    display: block;
    position: fixed;
    width: 50px;
    height:50px;
    bottom: 10px;
    right: 10px;
    color: #ccc;
    text-decoration: none;
    padding: 0px 1px;
    
}

#gototop span.fa {
    width: 3px;
    height:3px;
    padding: 5px 16px 10px 16px;
}

#gototop div {
    font-size: 12px;
}

#gototop:hover {
    color: #fff;
    background-color: rgba(0,0,0,0.2);
    border-radius: 4px;
    cursor: pointer;
}

/*   Footer  */
footer {
    background-color:#31394a;
    color:#fff;     
    min-height: 210px;
    padding-top: 30px;
    margin-top: 30px;
    clear: both;
    min-width: 1170px;
    width: 100%;
}

footer h5 {
    font-weight: bold;
}

footer img {
    width: 80%;
}

footer a{
    color:#fff; 
    font-size:12px;
}

footer .col-xs-2 {
    border-right: 1px solid #ecf0f1;
    text-align: center;
    min-height: 150px;
    margin-bottom: 30px;
}

footer .col-xs-2:last-child {
    border-right: none;
}

footer .copyright { 
    clear: both; 
    padding: 10px; 
    font-size: 15px; 
    background: #f2f2f2; 
    min-height: 40px;
    width: 100%;
    color: #000;
}

footer .copyright .container-non-responsive {
    text-align: center;
}














