 html,
 body {
    width: 100%;
    height: auto;
    font-family: Merriweather,'Helvetica Neue',Arial,sans-serif;
    background: #ecf0f1;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

a {
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    text-decoration:none;
    color: #000;
}

a:hover,
a:focus {
    color: #d61920 !important;
    text-decoration:none;
    cursor: pointer;
}

.bg {
    background: #fff;
}

.container-non-responsive {
	margin-left: auto;
    margin-right: auto;
    width: 1170px;
}

.row{
    border-bottom-style:solid;
    border-left-style:solid;
    border-right-style:solid;
    border-width:1px;
    border-color: rgba(0,0,0,0.1);
    margin:0;
}


/* top navbar */
.navbar {
    background-color: #ecf0f1;
    min-height: 30px !important;
    margin: 0;
    border-bottom: 1px solid #ccc;
}

.navbar a, 
.navbar h6{
    color:#333; 
    font-size:12px; 
    font-weight:bold; 
    display:inline-block;  
    padding:2px 8px;
}


/* navbar */

header {
    background-color: #fff;
}

header .container-non-responsive {
	height: 130px;
}

header .col-xs-3 {
    padding:0;
    width:23%;
}

header .logo > img {
    margin-top:25px;
}

header .search-query {
    padding: 4px 14px;
    border-radius:0px;
    min-width: 450px;
    min-height: 35px;
    border: 2px solid #ee1c24;
    outline: none;
}

header .navbar-search {
    padding: 50px 23px 0px 17px;
    outline: none;
}

header .btn {
    color: #ffffff;
    background-color: #ee1c24;
    height: 35px;
    margin: 0;
    padding: 0;
    vertical-align: top;
    min-width: 80px;
    margin-left: -5px;
    border-radius:0px;
    border: 1px solid #ee1c24;
}

header .btn:hover {
   cursor: pointer;
   background-color: #ee1c24;
   border: 1px solid #ee1c24;
}

header .col-xs-9 {
    float: left;
    overflow: hidden;
    height: 30px;
    max-width: 500px;
}

header .col-xs-9 > h6 {
    border-left: 1px solid #ccc;
    display: inline-block;
    padding: 0px 6px;
}

header .col-xs-9 > h6:first-child {
    border-left:none;
}

header .col-xs-2 {
     min-width: 150px;
     margin-top: 30px;

}

.cart-list {
    display: none;
    min-width: 250px;
    height: auto;
    background-color: #F5F5F5;
    border-radius: 0px;
    position: absolute;
    z-index: 1;
	right:-23px;

} 

header .col-xs-2:hover .cart-list {
    display: block;
}

.cart-list .item {
    margin-bottom: 1px;
    padding: 5px 10px;
}

.cart-list .item > div {
    display: inline-block;
    vertical-align: middle;
    margin: 2px;
}

.cart-list .cart-image {
    max-width: 80px;
    max-height: 80px;
}

.cart-list .cart-image img {
    width: 100%;
}

.cart-list .cart-content{
    padding: 5px;
	width: 110px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cart-list .item p span {
    position: relative;
    display: inline-block;
    font-size:12px;
}

.cart-list .total {
    padding:0px 10px;
	position:relative;
	width: 100%;
}

.cart-list .total span{
    padding: 5px 15px;
}

.cart-list strong{
	color: #d61920;
	margin: 0 2px;
}

.cart-list .see-more {
    width:100%;
    height:30px;
    text-align: center;
    padding: 5px 15px;
    background-color: #ee1c24;
    color: #fff;
    cursor: pointer;
    border-radius: 0px;
}


/* Sub Navbar */
#topnav.top-nav {
    background: #000000;
    height: 50px;
    width: 1170px;
    margin: 0 auto;
}

#topnav .nav-all {
    background:#ee1c24;
    width:254px;
    height:auto; 
}

#topnav .nav-all p {
    color:#fff;
    font-size:15px;
    line-height:50px;
    padding-left: 25px;
}

/* Left Sider Navbar */
#sidebar {/*zz*/
    width:238px;
    height:auto;
    padding: 0;
}

#sidebar ul {
    margin: 0;
    padding: 0;
    border-radius: 0px;
}

#sidebar .dropdown-toggle {
    color:#000;
}

#sidebar .nav li:hover {
    color:#fff;
    text-decoration: none;
    background-color: #fbd1d3;
}


#sidebar .nav li a .fa {
    position: absolute;
    right: 15px;/*zz*/
    opacity: 0.2;
}

.nav > li > div :focus, 
.nav .open > div, 
.nav .open > div:focus :focus {
    background-color: #F5F5F5;
    height:100%;
}

.nav .open > div:focus :hover {
    background-color:#fbd1d3;
}
   
.nav > li > div > a{/*zz*/
    padding: 10px 25px 5px 25px;
    float: left;
    width: 100%;
}
.nav p {/*zz*/
    margin-left:15px;
}

.nav span {/*zz*/
    line-height: 28px;
    margin: 10px 10px 10px 0px;
    padding-left: 10px;
    border-left: 1px dashed #ccc;
    font-size: 12px;
}

.nav span a {/*zz*/
    color:#666;
}
.nav span:first-child {/*zz*/
     border-left-style:none;
}

.nav > li > a:hover, 
.nav > .active > a:hover {
    text-decoration: none;/*zz*/
} 

.nav li:hover > .dropdown-menu {
    display: block;
}
.nav > li:first-child{/*zz*/
    border-width:1px;
    border-color: rgba(0,0,0,0.1);
    border-top-style:none;
}
.nav > li{/*zz*/
    height:63px;
    border-width:1px;
    border-color: rgba(0,0,0,0.1);
    border-top-style:dashed;
}

.dropdown-menu > div{/*zz*/
    padding: 5px 10px;
    border: 0;
} 

.dropdown-menu > div:hover, 
.dropdown-menu > div:focus {
    background-color: #fbd1d3;
}

.drop-menu-right {
	background-color: #F5F5F5;
    left: 237px;
    padding: 0px;
    border-radius: 0px;
    top: -3px;
}
/* Left Sider Navbar END*/

/* Slider */
#myCarousel.homCar .item img {
    width:100%; 
    max-height:400px;
    border:0;
    border-image-width:0;
}

#myCarousel .carousel-inner .item img {/*zz*/
    width:930px; 
    max-height:410px;
}

.myCarousel-out{/*zz*/
    border:0;
    width: 915px;
    max-height:410px;
    margin-bottom:0px;
}

.showpics{/*zz*/
    border:0;
    width:900px;
    padding:0;
    margin-top:0px;
    margin-left:0px;
}

.showpics .col-xs-4{
    border-width:1px;
    border-color: rgba(0,0,0,0.1);
    border-left-style:solid;
}


.carousel-inner,.carousel{
    width:100%;
}

.carousel .item > img {
    display:inline;
}

#myCarousel .btn {
    border: 0 none;
    border-radius: 0 0 0 0;
    bottom: 49px;
    font-size: 18px;
    line-height: 42px;
    padding: 0 28px;
    position: absolute;
    right: 0;
    text-shadow: 0 0 0 transparent;
} 

#myCarousel { 
    position:relative; 
    margin: 0;
}

.homCar { 
    overflow:hidden;
}


.carousel-control {
    border: 0px; 
    border-radius:2px;
}

.carousel-control:hover {
    background-color: #fbd1d3; 
    height:43px; 
    line-height:34px; 
    color: #fff;
}

.carousel-control {
    top: 50%;
}

.carousel-control span.fa{
    margin:10px 0;
}

.carousel-control.left {
    left: -15600px;
    height: 40px;
    width:60px;

}

.carousel-control.right {
    right: -15600px;
    height: 40px;
    width:60px;
}
.carousel:hover .carousel-control.right {
    right: 8px; 
    left: auto;
}
.carousel:hover .carousel-control.left{
    left: 8px;
}


/*   Hot Staffs   */
.hotdeal {
    background-color: #fff;
    padding:0;
    margin-top: 20px;
}

.hotdeal .row-up{
    height:80px;
}

.hotdeal .row-up div:first-child {
    padding:0px;
    overflow: hidden;
    height: 60px;
    max-width: 480px;
}

.hotdeal .row-up div:last-child {
    text-align: right;
    padding: 0px;
    float: right;
    margin: 28px 0px;
}

.hotdeal h6 {
    line-height: 28px;
    margin: 10px 10px 10px 0px;
    padding-left: 10px;
    border-left: 1px dashed #ccc;
    font-size: 16px;
}

.hotdeal .row-up h6.first {
    border-left:none;
    margin-left: 20px;
    }

.hotdeal .row-up h6, .row-up h3 {
    display: inline-block;
    vertical-align: bottom;
}

.hotdeal .row > div {
    overflow: hidden;
	min-height:340px;
    padding: 0;
	border-left-style:solid;
    border-top-style:solid;
    border-width:1px;
    border-color: rgba(0,0,0,0.1);
}


.hotdeal .row > div:first-child{
	border-left-style:none;
}

.hotdeal .row > .col-xs-3 {

    max-width: 285px;
 }

.hotdeal .row > .col-xs-6 {
    max-width: 570px;
}

.hotdeal .row > div img {
	width:270px;
}

.hotdeal .row .pro{
	height:340px;
    padding: 0;
	border-style:solid;
    border-width:5px;
    border-color: rgba(0,0,0,0);
}

.hotdeal .row  .pro:hover{
	border-color:#ee1c24;
}

.hotdeal .row .pro:hover h4{
	color:#d61920;
}

.hotdeal .row .pro:hover span{
	color:#d61920;
}

.hotdeal .row  .pro:hover .caption{
	border-color:#ee1c24;
}
.hotdeal .row  .pro:hover button{
	background-color:#ee1c24;
}

.hotdeal .caption {
    width: 270px;
    height: 100px;
    position: absolute;
    -webkit-transition: bottom 0.3s;
    transition: bottom 0.3s;
	bottom:0px;
    padding: 5px 3px;
	border-top-style:dashed;
	border-width:1px;
	border-color:rgba(0,0,0,0.1);
}

.hotdeal .caption h4 {
    color: #000;
    text-align: center;
}

.hotdeal .caption span {
     color: #000;
     font-weight: bold;
     margin: 10px;
}

.hotdeal .caption button {
    color: #ffffff;
    background-color: rgba(0,0,0,0.5);
    height: 35px;
    padding: 0;
    max-width: 60px;
    min-width: 40px;
    border: none;
    margin: 5px 3px;
}

/*   Hot Staffs END */


#gototop {
    display: block;
    position: fixed;
    width: 50px;
    height:50px;
    bottom: 10px;
    right: 10px;
    color: #ccc;
    text-decoration: none;
    
}

#gototop span.fa {
    width: 3px;
    height:3px;
    padding: 5px 16px 10px 16px;
}

#gototop div {
    font-size: 12px;
}

#gototop:hover {
    color: #fff;
    background-color: rgba(0,0,0,0.2);
    border-radius: 4px;
    cursor: pointer;
}

/*   Footer  */
footer {
    background-color:#fff;
    color:#222;
    padding: 30px 95px;     
    min-height: 210px;
}

footer h5 {
    font-weight: bold;
}

footer a{
    color:#222; 
    font-size:12px;
}

footer .col-xs-2 {
    border-right: 1px solid #ecf0f1;
    text-align: center;
    min-height: 150px;
}

footer .col-xs-2:last-child {
 border-right: none;
}

.copyright { 
    clear: both; 
    padding: 8px; 
    font-size: 13px; 
    background: #ecf0f1; 
}

.copyright .container{
    padding: 5px 50px;
}

#footerMenu a{ 
    font-size:12px; 
    text-transform:lowercase;
}





.moreOptopm.carousel .carousel-control,.moreOptopm.carousel .carousel-control:hover {background:transparent; }
.moreOptopm.carousel .carousel-control {border: 0; top: 50%; bottom: 0;}
.moreOptopm.carousel .carousel-control.right, .moreOptopm.carousel .carousel-control.right:hover {right:0; }
.moreOptopm.carousel .carousel-control.left, .moreOptopm.carousel .carousel-control.left:hover {left:0; }
.moreOptopm.carousel .carousel-control, .moreOptopm.carousel .carousel-control:hover {color: #000;}
.moreOptopm.carousel .item img{padding:2px; border:1px solid #ddd}
.moreOptopm.carousel .item img:hover{ border:1px solid pink}

