#user-page {
    min-height: 740px;
    height: auto;
}

input {
    padding-left: 10px;
}

#user-page .user-left {
    width:255px;
    margin-top: 30px;
    padding:0;
    
}

#user-page .user-left .nav-list {
    border: 1px solid rgba(0,0,0,0.1);
    margin-bottom: 30px;
}

#user-page .user-left li {
    text-align: left;
    line-height: 45px;
    font-size: 15px;
    padding-left: 25px; 
    height: 45px;
    width: 100%;
    border-top: 1px dashed rgba(0,0,0,0.1);
}

#user-page .user-left li:first-child {
    border-top-style: none;
}

#user-page .user-left li a {
    padding:0;
    color: #666;
    font-weight: normal;
}

#user-page .user-left li:hover, 
#user-page .user-left li:focus,
#user-page .user-left li.active  {
    outline: none;
    background-color: #ee1c24;
    border: none;
    font-weight: bold;
}

#user-page .user-left li a:hover,
#user-page .user-left li.active a {
    color: #fff !important;
}

#user-page .user-left .side {
    width:255px;
    height:auto;
    padding:0;
    border: 1px solid rgba(0,0,0,0.1);
    margin-bottom:20px;
}

#user-page .user-left .side-title {
    background:#EE1B23;
    width:255px;
    height:45px;
    line-height:45px;
    padding-left:25px;
    color:#fff;
}


#user-page .user-left .side-content {
    padding:0;
    margin:0;
}

#user-page .user-left .side-item {
    border-top: 1px dashed rgba(0,0,0,0.1);
    position: relative;
}

#user-page .user-left .side-item:first-child {
    border-top:none;
}

#user-page .user-left .side-item img {
    vertical-align: middle;
    width: 80%;
    position: relative;
    margin-top: 50px;
    margin-left: 50px;
}

#user-page .user-left .side-item > span {
    padding: 0 0 0 20px;
}

#user-page .user-left .pro-text {
    width: 200px;
}


#user-page .user-content {
    min-height:650px;
    margin-top: 30px;

}

#user-page .user-content .detail {
    display:none;
    padding-left: 40px;
   
}

#user-page .user-content .detail.active {
    display: block;
}

#user-page .user-content .detail-content {
    padding: 0 10px;
}

#user-page .user-content .detail h3{
    text-align: left;
    margin: 10px;
}




#tab1 .detail-content h5 > div {
    margin-bottom: 15px;
    padding: 10px 0px;

}

#tab1 .detail-content label {
     width: 100px;
}

#tab1 .detail-content h5 > div > div {
    text-align: left;
    width: 30%;
    display: inline-block;    
    overflow: hidden;
    white-space: nowrap;

}

#tab1 .detail-content h5 > div:last-child div {
    width: 100%;  

}
#tab2 td {
    vertical-align: middle;
}

#tab2 img{
    width:100px;
}

#tab2 .order-detail {
    display:none;
}

#tab2 .order-detail.active {
    display:block;
}

#tab2 .clearfix input {
    width:50px;
}

#tab5 .title {
    font-weight: bold;
    display: inline-block;
    width: 45%;
}
#tab5 .row.open {
    display: none;
}

#tab5 .row {
        margin: 30px 0;
    padding: 10px;
}

#tab5 .row h5 div {
    margin-bottom: 5px;
}

#tab5 .part {
    display: none;
}


#tab5 .part.active {
    display: block;
}

#tab5 .part > div {
    margin: 10px 0px;
}

#tab5 .part label {
    width: 100px;
}

#tab5 .part input {
    margin-right: 40px;
    width: 200px;
    display: inline-block;
}

#tab5 .part textarea {
    width: 548px;
    height: 60px;
    vertical-align: top;
    resize: none;
    padding-left: 10px;
}

#tab6 .detail-content h5 > div {
    margin-bottom: 15px;
    padding: 10px 0px;
    text-align: left;
    width: 100%;

}

#tab6 .detail-content label {
     width: 100px;
}


#tab6 .detail-content input {
    height: 30px;
    width: 250px;
    margin-right: 80px;
    display: inline-block;
}

#tab7 .row > div {
    width: 370px;
    float: left;
    margin: 10px;
}

#tab7 .row > div img {
    width:  100%;
    margin-bottom: 10px;
}

#tab7 .row > div p {
    float: right;
}

#tab7 .dis-btn {
    background-color: #ccc;
    border: 1px solid #ccc;
    outline: none;
    cursor: none;
}


#tab8 .detail-content h5 > div {
    margin-bottom: 15px;
    padding: 10px 0px;
    text-align: left;
    width: 100%;

}

#tab8 .detail-content label {
     width: 100px;
}


#tab8 .detail-content input {
    height: 30px;
    width: 250px;
    margin-right: 80px;
}




