{% extends 'FOSUserBundle:Registration:register.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
		<div class="breadcrumb">
            <div class="register-tab">
                <i class="fa fa-info-circle"></i>注册
            </div> 
            <div class="register-tab active">
                <i class="fa fa-info-circle"></i>邮箱验证
            </div>
            <div class="register-tab">
                <i class="fa fa-info-circle"></i>激活
            </div>
        </div>
        <div class="register-email col-xs-12">
			<div>
                {% if user is not null %}
                    <h3>
                        <i class="fa fa-info-circle"></i>已发送验证邮箱到
                         {{ 'registration.check_email'|trans({'%email%': user.email}) }}
                    </h3>
                    <h6>请您进入邮箱中点击验证按钮完成注册</h6>
                {% else %}
                    <h3>
                        <i class="fa fa-info-circle"></i>验证邮件已经发送到您的邮箱，请耐心等待
                    </h3>
                {% endif %}
			</div>
		</div>
{% endblock fos_user_content %}
