{% trans_default_domain 'FOSUserBundle' %}

        <div class="page-title">
            <h4>修改密码</h4>
        </div>
        <div class="user-content">
         <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">     
   		 <div class="form">
       	<div>
       	 {{ form_widget(form) }}
    	</div>
		  </div>
        <input type="submit" value="{{ 'change_password.submit'|trans }}" />
             
        </form>
</div>