
#cart-page .cart-content {
    margin: 30px 0px;
    padding: 0;
    background: white;
}

#cart-page .top-promo {
    text-align: center;
    background-color: #eee;
    padding: 20px;
    border: 1px solid #ccc;
}

#cart-page thead tr {
    border-bottom:1px solid #eee;
}

#cart-page thead th {
    text-align: center;
}


#cart-page table img {
    width:100px;
}

#cart-page table td {
    vertical-align: middle;
    text-align: center;
}
#cart-page table .product-name {
    width: 50%;
    text-align: left;
}

#cart-page table .name-limit {
    display: inline-block;
    max-width: 410px;
    word-wrap: break-word;
    overflow: hidden;
    vertical-align: middle;
    width: auto;
}

#cart-page tfoot .tfoot-bottom {
    background-color: #eee;
}
#cart-page tfoot .total-price {
    text-align: right;
}


#cart-page .cart-content .btn-offer {
    margin: 10px 0px;
}

#cart-page .cart-content .btn-promotion {
    float: right;
}


#cart-page .cart-down {
    margin-bottom: 20px;
}



