body {
    background-color: #fff;
    height: 100%;
    position: absolute;
    min-height: 800px;
}

#login-header {
    border-bottom: 2px solid #a8df4e;
    min-height: 100px;
    height: auto;
}

#login-header .logo-width {
    width: 190px;
    display: inline-block;
}

#login-header .logo > img {  
    height: auto;
    margin: 0;
}

#login-header .logo > h4 {
    margin-right: 30px;
    position: relative;
    top: -9px;
    font-weight: bold;
    color: #000;
}

#login-header .logo-title {
    font-size: 25px;
    margin-left: 0px;
    position: relative;
    display: inline-block;
    vertical-align: text-bottom;
}

.container-login-responsive {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    overflow: auto;
}

.login {
    margin-top:50px;
}

.login-left {
    min-height: 410px;
    text-align: center;
}


.login-content {
    padding: 20px 30px;
    position: relative;
    border: 2px solid #eee;
}


.login-content .controls {
    margin: 10px 0px 15px 0;
    position: relative;
}


.login-content .controls label {
    width: 50px;
    font-weight: 300;
}

.login-content .controls > input {
    border: 1px solid #ccc;
    /*border-bottom-color: #ccc;*/
    padding: 4px 10px;
    font-size: 15px;
    width: 70%;
    margin-right: 8px;
}


.controls i.fa {
    color: #ee1c24;
}

.controls i.fa-check-circle {
    color: #a8df4e;
}


.login-content input[type="submit"]{
    width: 50%;
}

.login-content .controls-link {
    height: 25px;
    margin-top: 25px;
    font-size: 13px;
}

.login-content .controls-link input[type="checkbox"] {
    width: auto;
    margin-right: 3px;
    margin-top: 0px;
    vertical-align: text-bottom;
}


.login-content .controls-link a {
    color: #506eaa;
}

.login-content hr {
    margin: 10px 0px;
}


.login-content .social-network {
    display: inline-block;
    width: 100%;
    max-width: 300px;
    text-align: left;
    margin-top: 20px;

}

.login-content .social-network i {
    font-size: 13px;
    height: 25px;
    margin-right: 15px;
    color: #aaa;
}

.login-content .social-network i:hover {
    color: #ee1c24;
}


#login-footer {
    min-height: 60px;
    margin-top: 30px;
    color: #aaa;
    border-top: 2px solid #f2f2f2;
    clear: both;
    width: 1000px;
    margin:0 auto;
}

#login-footer .col-xs-2 {
    min-height: 30px;
    display: inline-block;
    text-align: center;
    padding: 15px 0px;
}

#login-footer a {
    color: #aaa;
}

#login-footer .copyright {
    clear: both;
    padding: 10px;
    min-height: 25px;
    width: 100%;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    border-top: 2px solid #f2f2f2;
}


.login-button > .pull-right{
    line-height: 30px;
}

.login-content .login-button{
    margin-bottom: 35px;
}

.login-content .register {
    margin-top: 0px;
}