#drop {
    border: 2px dashed #bbb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    font: 20pt bold,"Vollkorn";
    background-color: initial;
}

#drop:hover{
	background: darkcyan;
}

.progress {
	height: 20px !important;
	margin-bottom: 0px !important;
	width: 945px !important;
}
