.nav .dropdown-menu {
    background-color: #fff;
    left: 252px;
    border-radius: 0px;
    -webkit-border-radius:0px;  
    -moz-border-radius:0px;
    top: -3px;
    width: 312px;
    padding: 1px 5px 5px 5px;
    box-shadow: 0px 3px 5px #999;
    -webkit-box-shadow: 0 3px 5px #999;
    -moz-box-shadow: 0 3px 5px #999;
    word-break: break-all;
}

.navbar-fixed {  /* For position fixed menu */
    top: 0;
    z-index: 100;
    position: fixed;
}

.dropdown-header{
    color: black;
    background-color: #fff;
}

.nav a .nav-item-leftmenu {
    font-size: 20px;
    font-weight: bold;
    color: ghostwhite;;
    /* padding: 10px 25px; */
    padding: 10px 25px 10px 40px;
    width: 100%;
}

.nav li a:hover .nav-item-leftmenu {
     color: antiquewhite;
}

