

/*product products*/
#product-page .product-desc {
    color: #a8df4e;
}

#product-page .product-pros {
    width:100%;
    height:auto;
}

#product-page .product-info {
    margin-bottom:20px;
    padding: 10px 50px;
}


#product-page .product-info img {
    width:100%;
}

#product-page .product-info .product-pictures {
    width: 340px;
    height:300px;
}

#product-page .product-info .product-pictures-below {
    position: relative;
    bottom: 0px;
    margin-top: 10px;
 
}
#product-page .product-info .col-xs-4 img {
    border:1px solid #fff;
    cursor:pointer;
}	

#product-page .product-info .col-xs-4 img:hover,
#product-page .product-info .col-xs-4 .active {
    border-color:#ccc;
}	

#product-page .product-info .col-xs-7 p {
    color: #000;
    font-size: 16px;
    line-height: 25px;
}

#product-page .product-info .col-xs-7 p label {
    margin: 0px 10px 0px 0px;
    width: auto;
    text-align: left;  
}



#product-page .product-info .col-xs-7 .product-promo {
    font-size: 20px;
    color: #a8df4e;
    font-weight: bold;
}

#product-page .add-to-box {
}

#product-page .add-to-cart .number-label {
    line-height: 35px;
    margin-right: 20px;  
}

#product-page .add-to-cart input[type="submit"] {
    margin-left: 10px;
    height: 35px;
    background: transparent;
    color: #a8df4e;
    font-size: 20px;
    font-weight: bold;
    border: none;
    padding: 0;
} 

#product-page .add-to-cart input[type="submit"]:hover {
    border-bottom: 2px solid #a8df4e;
}

#product-page .add-to-cart input[type="submit"].buy-now {
     color: #ee1c24;
}

#product-page .add-to-cart input[type="submit"].buy-now:hover {
    border-bottom: 2px solid #ee1c24;
}



#product-page .product-tab {
    padding:10px 0px;
    width:100%;
    background-color: #ccc;
}


#product-page .product-tabs .tab-content {
    margin-top:20px;
}

#product-page .product-tabs .tab-contents .tab-content-title {
    font-size: 16px;
    margin:5px 0px 5px 20px;
    line-height:25px;
}

#product-page .product-tabs .tab-contents .tab-content-desc {
    margin-left:20px;
    font-size: 12px;
    line-height:20px;
}

#product-page .product-tabs .tab-contents img {
    width:100%;
}

#product-page .product-tabs .tab-contents .record-list {
    width:100%;
}

#product-page .product-tabs .tab-contents .record-list th,
#product-page .product-tabs .tab-contents .record-list td {
    border:1px solid #ccc;
    height: 25px;
    line-height:25px;
    font-size:12px;
    padding: 5px 10px;
}

#product-page .product-tabs .tab-contents .record-list th {
    border-bottom:0px;
}




