.search-page-container .page-content {
    padding: 0px;
}

.search-page-container .page-content .toolbar {
    padding:10px 20px;
    width:100%;
    height:50px;
    background-color: #aaa;
}

.search-page-container .page-content .toolbar label,
.search-page-container .page-content .toolbar a {
    line-height:30px;
    height:20px;
    color:#fff;
    font-weight:normal;
}

.search-page-container .page-content .toolbar i.fa {
    font-size:13px;
}

.search-page-container .page-content .toolbar .prive-i i.fa-long-arrow-up,
.search-page-container .page-content .toolbar .prive-i i.fa-long-arrow-down {
    display:none;
}

.search-page-container .page-content .toolbar label {
    float: left;
}

.search-page-container .page-content .toolbar .select-box-num {
    width:100%;
    height:30px;
}
.search-page-container .page-content .toolbar .select-box-num a {
    color: #fff;
    display: inline-block;
    float: right;
    margin: 0px;
    padding: 0px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
}

.search-page-container .page-content .toolbar .select-box-num .active {
    border-bottom: 2px solid #fff;
}

.search-page-container .page-content .toolbar .select-box-order {
    width:auto;
    margin:0px;
    height:30px;
    text-align:center;
    padding:0px 10px;
    cursor:pointer;
    display: inline-block;
}

.search-page-container .page-content .toolbar .active {
    border-bottom: 2px solid #fff;
}

.search-page-container .page-content .toolbar .select-box-order i {
    color:#fff;
    font-style:normal;
    font-size:13px;
    line-height:30px;
}

.search-page-container .page-content .toolbar .active i {
    color:#fff;
}

.search-page-container .page-content .toolbar i.fa-long-arrow-up {
    display:inline-block;
}

.search-page-container .hotdeal {
    margin-top:0px;
    background-color: #dce1e4;
    padding: 0px;
}


.search-page-container .page-content .toolbar-bottom {
    
    border:1px solid #ccc;
}