html,
body {
    width: 100%;
    height: auto;
    font-family: Merriweather,'Helvetica Neue',Arial,sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    margin:0;
}

a {
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    text-decoration:none;
    color: #000;
    outline: none;
}

a:hover,
a:focus {
    color: #ee1c24;
    text-decoration:none !important;
    cursor: pointer;
    outline: none;
}

ul,li{
    list-style:none;
}

input {
    padding: 8px 10px;
    border: 1px solid #eee;
    min-width: 30px;
    font-size: 12px;
    margin-right: 5px;
    outline: none;
}

input:hover,
input:focus {
    cursor: pointer;
    outline: none;
}

input[type="submit"] {
    color: #ffffff;
    background-color: #ee1c24;
    font-size: 15px;
    height: 30px;
    margin: 0;
    padding: 0 10px;
    vertical-align: middle;
    min-width: 80px;
    border-radius:0px;
    -webkit-border-radius:0px;  
    -moz-border-radius:0px;
    border: 1px solid #ee1c24;
}
 
input[type="submit"]:hover, 
input[type="submit"]:focus {
    cursor: pointer;
    background-color: #ee1c24;
    border: 1px solid #ee1c24;
}

textarea {
    width: 250px;
    vertical-align: top;
    height: 80px;
    resize: none;
    margin-top: 0px;
    margin-bottom: 0px;
    border-color: #eee;
}

select {
    width: 250px;
    border-color: #eee;
    outline: none;
}

.no-padding {
    padding:0 !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}


.container-non-responsive {
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
}

.row {
    margin:0;
    padding:0;
}

.no-border {
    border:0;
}

.clear{
    clear: both;
}


.color {
    color: #ee1c24;
    font-weight: bold;
}

.bg-error {
    padding: 10px;
    text-align: center;
    margin: 0;
    position: absolute;
    width: 100%;
    background: rgba(238,28,36,0.8);
    z-index: 1;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    height: 50px;
}

/* top navbar */
.navbar {
    background-color: #f2f2f2;
    min-height: 20px !important;
    height: 30px;
    margin: 0;
    border-bottom: 1px solid #ccc;
    min-width: 1170px;
}

.navbar h6 {
    display: inline-block;
    padding: 0px 10px;
    font-weight: normal;
    color: #6c6c6c;
    margin: 0px;
    line-height: 29px;
}

.navbar .a-login h6 {
    padding:0 5px;
    color: #506eaa;
}

.navbar .history-list {
    display: none;
    min-width: 72px;
    max-width: 200px;
    width: auto;
    height: auto;
    background-color: #fff;
    border-radius: 0px;
    -webkit-border-radius:0px;  
    -moz-border-radius:0px;
    position: absolute;
    z-index: 1;
    right: 0px;
    box-shadow: 0px 3px 5px #999;
    -webkit-box-shadow: 0 3px 5px #999;
    -moz-box-shadow:0 3px 5px #999;
}

.navbar .history,
#after-login,
#before-login {
    display: inline-block;
    z-index: 5;
    position: relative;
}


.navbar .nav-hover:hover .history-list {
    display: block;
    top:29px;
}

.navbar .nav-hover:hover {
    background-color: #fff; 
}

.navbar .history-list.history-view {
     min-width: 220px;
    
}
.navbar .history-list .sub-list {
     max-height: 350px;
    overflow-y: scroll;
}

.navbar .history-list a h6:hover {
    color: #ee1c24;
}

.navbar .history .item {
    border-top: 1px dashed #eee;
    padding: 10px;
    min-height: 60px;
}

.navbar .history .item:first-child {
    border-top:none;
}

.navbar .history .item > div {
    display: inline-block;
    vertical-align: top;
}

.navbar .history .cart-image {
    width: 60px;
}

.navbar .history .cart-image img {
    width: 100%;
}

.navbar .history .nav-cart-content {
    width: auto;
    margin: 10px 5px 5px 5px;
}

.navbar .history .nav-cart-content > div {
    margin-bottom:5px;
    max-width: 100px;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.navbar .history .nav-cart-content > div h5 {
     font-size:13px;
}

.navbar .history .nav-cart-content span {
    position: relative;
    display: inline-block;
    font-size:12px;
    margin: 5px 0px;
    line-height: 0px;
}

.navbar .history .history-clear {
    text-align: center;
    background-color: #eee;
}

/* navbar */
#mid-header {
    min-width: 1170px;
    clear: both;
}

#mid-header .container-non-responsive {
    height: 120px;
}


#mid-header .logo > img {
    width: 80px;
    height: 100px;
    margin-left: 30px;
    margin-top: 15px;
}


.search-query {
    padding: 4px 14px;
    line-height: 20px;
    min-width: 450px;
    min-height: 35px;
    border: 3px solid #ee1c24; /* for IE 8 */
    border-image: -webkit-linear-gradient(right, #ee1c24, orange, yellow, green, blue, indigo, violet); /* For Safari 5.1 to 6.0 */
    border-image: -o-linear-gradient(right, #ee1c24, orange, yellow, green, blue, indigo, violet); /* For Opera 11.1 to 12.0 */
    border-image: -moz-linear-gradient(right, #ee1c24, orange, yellow, green, blue, indigo, violet); /* For Fx 3.6 to 15 */
    border-image: linear-gradient(to left, #ee1c24, orange, yellow, green, blue, indigo, violet); /* Standard syntax (must be last) */
    border-image-slice: 1;
    outline: none;
    margin: 0;
    border-radius:0px;
    -webkit-border-radius:0px;  
    -moz-border-radius:0px;
    /*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);*/

}

.navbar-search {
    margin: 50px 23px 0px 17px;
    outline: none;
}


.navbar-search input[type="submit"] {
    height: 35px;
    vertical-align: top;
    margin-left: -5px;
}

.search-keys {
    overflow: hidden;
    height: 30px;
    max-width: 500px;
    color: #777;
}

.search-keys a {
    color: #777;
    display: inline-block;
    margin: 8px 3px;
}


.cart-wrapper {
    width: 145px;
    height: 35px;
    position: absolute;
    top: 50px;
}


/*.cart-wrapper:hover .cart-list {
    display: block;
}*/

.cart-wrapper:hover .cart span {
    background: #fff;
}

.cart {
    -webkit-backface-visibility: hidden;
    text-decoration: none;
    display: block;
    width: 143px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #e5e5e5;
    position: relative;
    background: #fff;
    z-index: 0;
    box-shadow: 0 0 2px #999;
    -webkit-box-shadow: 0 0 2px #999;
    -moz-box-shadow:0 0 2px #999;
    float: right;
}

.cart-block-row {
    display: block;
    width: 141px;
    height: 5px;
    background: #fff;
    position: absolute;
    top: -5px;
    z-index: 5;
    right: 0;
}

.cart-spinner {
    width: 50px;
    height: 50px;
    position: relative;
    margin: 20px auto;
}

.cart-spinner img {
    width:  100%;
}

.cart img{
    float: left;
    height: 30px;
    width: 40px;
    overflow: hidden;
    padding: 0 9px;
}

.cart span{
    width: 100px;
    height: 33px;
    line-height: 35px;
    color: #777;
    overflow: hidden;
    float: left;
    padding-left: 6px;
    background: #f8f8f8;
}

.cart-list {
    display: none;
    min-width: 250px;
    height: auto;
    background-color: #fff;
    border-radius: 0px;
    -webkit-border-radius:0px;  
    -moz-border-radius:0px;
    position: absolute;
    z-index: 1;
    right: 0px;
    border: 1px solid #e5e5e5;
    box-shadow: 0 0 2px #999;
    -webkit-box-shadow: 0 0 2px #999;
    -moz-box-shadow:0 0 2px #999;
}


.cart-list .item {
    border-bottom: 1px dashed #eee;
    padding: 5px 10px;
    min-height: 50px;
}

.cart-list .item > div {
    display: inline-block;
    vertical-align: top;
    margin: 5px 0px;
}

.cart-list .cart-image {
    max-width: 60px;
    max-height: 60px;
}

.cart-list .cart-image img {
    width: 100%;
}

.cart-list .nav-cart-content{
    width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.cart-list .item span {
    position: relative;
    display: inline-block;
    font-size:12px;
    margin: 5px 0px;
}

.cart-list .item .remove {
    position: absolute;
    right: 20px;
}

.cart-list .item h5 {
    margin-top: 5px;
}

.cart-list .total {
    padding:10px;
    position:relative;
    width: 100%;
    text-align: center;
}

.cart-list .total span {
    padding: 0px 10px;
}

.cart-list strong {
    color: #ee1c24;
    margin: 0 2px;
}

.cart-list .see-more {
    width:100%;
    margin: 0;
}

.cart-list input[type="submit"] {
    width: 100%;
}


/* Sub Navbar */
.sub-nav {
    background: #31394a;
    height: 45px;
    width: 1170px;
    margin: 0 auto;
}

.sub-nav .nav-all {
    background:#ee1c24;
    width:253px;
    height:45px; 
    float: left;
    margin: 0 auto;
}

.sub-nav .nav-all > a {
    font-size:15px;
    line-height:45px;
    padding-left: 25px;
    font-weight: bold;
    margin-right: 5px;
    color: #fff;
}

.sub-nav .nav-all > i.fa {
    color: #fff;
}


.sub-nav .nav-right {
    height: 45px;
    display: inline-block;
}

.sub-nav .nav-right > a {
    float: left;
    display: inline-block;
    color: #fff;
    font-size: 15px;
    line-height: 45px;
    padding: 0px 25px;
    font-weight: bold;
}

.sub-nav .nav-right a:hover,
.sub-nav .nav-right a:focus{
    color: #999 !important;
}

.sub-nav .nav-right a.active{
    background: #1d212b;
}

/* Left Sider Navbar */
#siderbar {
    width:253px;
    height:auto;
    padding: 0;
    display: none;
    position: absolute;
    z-index: 2;
    background-color: #fff;
}

#sub-navbar .nav-all:hover #siderbar {
    display: block;
}

.siderbar.col-xs-3 {
    padding:0;
    width: 253px; 
}


ul.nav {
    margin: 0;
    padding: 0;
    border-radius: 0px;
    -webkit-border-radius:0px;  
    -moz-border-radius:0px;
    width: 100%;
    border: 1px solid #eee; 
}

#siderbar-main ul.nav {
    height: 613px;
}


.nav li:hover {
    background-color: #F5F5F5;
}

.nav li:hover > .dropdown-menu {
    display: block;
}

.nav > li{
    height:68px;
    border-top: 1px dashed #eee;
}

.nav > li:first-child{
    border-top:none;
}

.nav .nav-item {
    padding: 10px 25px 0px 25px;
    height: 68px;
    width: 100%;
}

.nav .nav-item > a {
    width: 100%;
    font-weight: bold;
}

.nav .nav-item a i.fa {
    position: absolute;
    right: 15px;
    color: #ccc;
    top: 30px;
}

.nav .nav-item > div {
    overflow: hidden;
}

.nav .nav-item > div a {
    line-height: 38px;
    font-size: 12px;
    margin-top: 5px;
    color: #777;
}

.nav .nav-item > div a:hover {
    color: #ee1c24;
}


.nav .dropdown-menu > div{
    padding: 5px 10px;
    border: 0;
} 

.nav .drop-menu-right {
    background-color: #F5F5F5;
    left: 249px;
    padding: 0px 0px 10px 5px;
    border-radius: 0px;
    -webkit-border-radius:0px;  
    -moz-border-radius:0px;
    top: -3px;
    width: 312px;
}

.nav .drop-menu-right div a {
    font-weight: bold;
    font-size: 14px;
}

.nav .drop-menu-right .sub-menu {
    font-size: 12px;
    color: #777;
}

.nav .drop-menu-right .sub-menu a {
    color: #777;
    font-size: 12px;
}

.nav .drop-menu-right .sub-menu a:hover {
     color: #ee1c24;
}


/* Slider */
.slider-part {
    border-bottom-style:solid;
    border-right-style:solid;
    border-width:1px;
    border-color: #eee;
    width: 917px;
    height: 614px;
    overflow:hidden;
}

#myCarousel { 
    position:relative; 
    margin: 0;
    border:0;
    width: 100%;
    max-height:410px;
}

#myCarousel img {
    width:100%; 
    max-height:410px;
    border:0;
}

.carousel-indicators li {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}


.showpics {
    border:0;
    width:915px;
    padding:0;
    margin-top:0px;
    margin-left:0px;
}

.showpics img{
    width: 290px;
    height: 206px;
    padding: 10px 15px 10px 0px;
}

.showpics .col-xs-4 {
    border-width:1px;
    border-color: #eee;
    border-left-style:solid;
    text-align: center;
}

.showpics .col-xs-4:first-child {
    border-left:none;
}


.carousel-control {
    border: 0;
    border-radius: 0px; 
    -webkit-border-radius:0px;  
    -moz-border-radius:0px;
    top: 50%;
    height:45px;
    width:60px;
    line-height:35px;
    display: none;
    background: none !important;

    
}

.carousel-control i.fa{
    margin:10px 0;
}

.carousel-control:hover {
    background: transparent !important;
    color: #fff;
}


.carousel-control.left {
    left: 8px;
}

.carousel-control.right {
    right: 8px; 
    left: auto;
}
.carousel:hover .carousel-control {
    display: block;
    filter: none !important;
}


/*   Hot Staffs   */
.hotdeal {
    background-color: #fff;
    padding:0;
    margin:30px 0px;
}

.hotdeal .row-up{
    height:45px;
}

.hotdeal .row-up div {
    text-align: right;
    padding: 0px;
    float: right;
}

.hotdeal .row-up div:first-child {
    padding:0px;
    margin:0px;
    overflow: hidden;
    height: 30px;
    max-width: none;
    float: left;
    text-align: left;
}

.hotdeal .row-up a {
    color: #777;
}

.hotdeal h5 {
    margin-left: 30px;
}

.hotdeal h5 span {
    top: -1px;
    position: relative;
    color: #777;
    margin-left: 3px;
}

.hotdeal .row-up h5, .row-up h3 {
    display: inline-block;
    vertical-align: middle;
}

.hotdeal .row {
    height: 300px;

}

.hotdeal .row a {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.hotdeal .row > div {
    overflow: hidden;
    min-height:300px;
    padding: 0;
    border: 1px solid #E6E6E6;
    max-width: 300px;
    position: relative;
    height: 300px;
    border-left: none;
}


.hotdeal .row > div:first-child{
    border-left:1px solid #E6E6E6;
}

.hotdeal .row > div:hover {
    box-shadow: 0px 4px 8px #999;
    -webkit-box-shadow: 0px 4px 8px #999;
    -moz-box-shadow:0px 4px 8px #999;
    /* border: 1px solid #eee;  for IE 8 */

}


.hotdeal .row > div img {
    width: 250px;
    right: -30px;
    bottom: 10px;
    position: absolute;
}

.pro-text {
    padding: 25px 0 0 25px;
    width: 250px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.pro-title {
    color: #444 !important;
    font-size: 14px;
    font-weight: bold;
    min-height: 40px;
    overflow: hidden;
    height: 40px;
}

.price {
    color: #ee1c24;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    width: 200px;
    display: block;
}

del {
    font-size: 13px;
    color: #000;
}

.sold-no {
    font-size: 11px;
    color: #6D6D6D;
}

/*-- siderbar --*/
.siderbar .side {
    width:253px;
    height:auto;
    padding:0;
    margin:10px 0;
}

.siderbar .side-title {
    background:#EE1B23;
    width:100%;
    height:45px;
    line-height:45px;
    padding-left:25px;
    color:#fff;
}


.siderbar .side-content {
    padding:0;
    margin:0;
    width:100%;
    border: 1px solid #eee;
}

.siderbar .side-item {
    border-top: 1px dashed #eee;
    position: relative;
}

.siderbar .side-item:first-child {
    border-top:none;
}

.siderbar .side-item img {
    vertical-align: middle;
    width: 80%;
    position: relative;
    margin-top: 50px;
    margin-left: 50px;
}

.siderbar .side-item > span {
    padding: 0 0 0 20px;
}

.siderbar .pro-text {
    width: 200px;
    padding: 15px 0 0 25px;
}


/*each page style*/

.page-breadcrumb {

}

.page-breadcrumb ol {
    padding: 8px 0px;
    list-style: none;
}

.page-breadcrumb ol li {
    display: inline-block;
}

.page-breadcrumb ol li.active {
    color: #ee1c24;
}

.page-breadcrumb ol li i.fa {
     font-size: 18px; 
}

  

.page-breadcrumb .toolbar {
    width: 100%;
    overflow: hidden;
    height: 30px;
}

.page-breadcrumb .toolbar > div {
    background-color: #ee1c24;
    margin-right: 10px;
    color: #fff;
    padding: 0px 10px 0px 10px;
    line-height: 30px;
    width: 85px;
    display: inline-block;
    vertical-align: top;
}

.page-breadcrumb .toolbar .search-keys {
    width: auto;
    margin: 0px 5px;
    height: 30px;
    background: #fff;
    border: 1px solid #EE1922;
    text-align: center;
    padding: 0px 10px;
    display: inline-block;
    line-height: 30px;
}

.page-title { 
    border-bottom: 3px solid #ee1c24; /* for IE 8 */
    border-image: -webkit-linear-gradient(right, #ee1c24, orange, yellow, green, blue, indigo, violet); /* For Safari 5.1 to 6.0 */
    border-image: -o-linear-gradient(right, #ee1c24, orange, yellow, green, blue, indigo, violet); /* For Opera 11.1 to 12.0 */
    border-image: -moz-linear-gradient(right, #ee1c24, orange, yellow, green, blue, indigo, violet); /* For Fx 3.6 to 15 */
    border-image: linear-gradient(to left, #ee1c24, orange, yellow, green, blue, indigo, violet); /* Standard syntax (must be last) */
    border-image-slice: 1;
    border-image-width: 0px 0px 3px 0px;
    margin-bottom: 20px;
    padding-bottom: 5px;
    padding-top: 10px;
}

.page-title h4, 
.page-title h4 a {
    font-size: 25px;
    color: #d61920;
}

.page-title span{
    font-weight: bold;
    font-size: 19px;
    color: #444;
}


.page-right {
    width: 885px;
    margin-left: 30px;
    padding: 0;
}

.page-content {
    padding:0px;
    width:100%;
    height:auto;
    margin:0px;
}

.number-group {
    text-align: center;  
}

input.qty {
    width: 40px;
    display: inline-block;
}

.number-button {
    display: inline-block;
    vertical-align: top;
}

.number-input {
    position:relative;
    background:#fff;
    height:15px;
    min-width:20px;
    border-radius:0px;
    -webkit-border-radius:0px;  
    -moz-border-radius:0px;
    border:1px solid #eee;
    cursor: pointer;
}
.number-input:hover {
    background-color: #f5f5f5;
}

.number-input-down {
    top:5px;
}

.number-input i {
    font-size:14px;
    top:-1px;
    left:5px;
    position:absolute;
    color: #000;
}


#gototop {
    display: block;
    position: fixed;
    width: 50px;
    height:50px;
    bottom: 10px;
    right: 10px;
    color: #eee;
    text-decoration: none;
    padding: 0px 1px;

}

#gototop i.fa {
    width: 3px;
    height:3px;
    padding: 5px 16px 10px 16px;
}

#gototop div {
    font-size: 12px;
}

#gototop:hover {
    color: #fff;
    background-color: #eee;
    border-radius: 0px;
    -webkit-border-radius:0px;  
    -moz-border-radius:0px;
    cursor: pointer;
}


/*   Footer  */
#footer {
    background-color:#f2f2f2;
    color:#000;     
    min-height: 180px;
    padding-top: 30px;
    margin-top: 30px;
    clear: both;
    min-width: 1170px;
    width: 100%;
}

#footer h5 {
    font-weight: bold;
}

#footer img {
    width: 80%;
}

#footer a{
    font-size:12px;
}

#footer .col-xs-2 {
    border-left: 1px solid #ccc;
    text-align: center;
    min-height: 150px;
    margin-bottom: 10px;
}

#footer .col-xs-2:first-child {
    border-left: none;
}

#footer .copyright { 
    clear: both; 
    padding: 10px; 
    font-size: 15px; 
    background: #f2f2f2; 
    min-height: 40px;
    width: 100%;
    color: #000;
}

#footer .copyright .container-non-responsive {
    text-align: center;
}


/* 404 Page */

.no-page {
    margin:50px;
    text-align: center;
    min-height: 350px;
}

.no-page h1 {
    font-size: 150px;
    color: #ee1c24;
}

.no-page strong {
    color: #ee1c24;
}


/* loading */
#loading {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; /* IE 8 */
    filter: alpha(opacity=70); /* IE 5-7 */
    -moz-opacity: 0.7;/* Netscape */
    -khtml-opacity: 0.7;/* Safari 1.x */
    opacity: 0.7;
    background-color: #fff;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    overflow: hidden;
    z-index: 2;
    display: none;
}

#loading > div {
    width: 180px;
    position: relative;
    margin: 180px auto;
}

#loading > div img {
    width: 100%;
}

#loading > div h4 {
    color: #ee1c24;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;

}



















