{% extends 'layout.html.twig' %}

{% block body %}

    {{ dump(app.user) }}

    <div>用户后台主页.</div>
<<<<<<< HEAD

=======
    
    <p><a href="{{ path("fos_user_profile_show") }}">账号信息<a/></p>
    
    <p><a href="{{ path("user_address") }}">地址管理<a/></p>
    
    <p><a href="{{ path("fos_user_change_password") }}">修改密码<a/></p>
    
>>>>>>> 129b45dd0930cf4e9678434d56091cf00162edae
{% endblock %}
