<div class="side brand-list">
    <div class="side-title">
        <h4>热门品牌</h4>
    </div>
    <div class="side-content">
    <a href="" class="search-keys">Go Healthy</a>
    <a href="" class="search-keys">Swisse</a>
    <a href="" class="search-keys">Comvita</a>
    <a href="" class="search-keys">Manukau Health</a>
    <a href="" class="search-keys">Karicare</a>
    <a href="" class="search-keys">Good Health</a>
    <a href="" class="search-keys">The Herb Farm</a>
    <a href="" class="search-keys">Nutra Life</a>
    <a href="" class="search-keys"><strong>Antipodes</strong></a>
    <a href="" class="search-keys">Eco</a>
    <a href="" class="search-keys">Streamland</a>
    </div>
    <div class="side-foot">
    <a href=""><h6>更多热门品牌&nbsp;&nbsp;&nbsp;<i class="fa fa-chevron-right"></i></h6></a>
    </div>
</div> 