				<div class="side post-fee">
                    <div class="side-content">
                        <a href="/terms_en"><img src="{{ asset('img/banner.png') }}" alt=""></a>
                    </div>
                </div>